{
  "openapi": "3.0.1",
  "info": {
    "title": "Intelliflo Consolidated Public APIs",
    "description": "Consolidated OpenAPI specification for all Intelliflo Public APIs, generated from multiple service swagger definitions.",
    "version": "2025-11-18",
    "contact": {
      "name": "Intelliflo API Support",
      "url": "https://developer.intelliflo.com"
    }
  },
  "servers": [
    {
      "url": "https://api.intelliflo.com",
      "description": "Production API Server"
    }
  ],
  "paths": {
    "/v1/brands": {
      "get": {
        "operationId": "ListBrands",
        "summary": "Get brand for either current user or non-authenticated one.",
        "description": "Get brand for either current user or non-authenticated one.",
        "tags": [
          "brand"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Brand",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Brand)",
          "scopes": []
        }
      }
    },
    "/v1/clients/expensecategories": {
      "get": {
        "operationId": "ListClientsExpensecategories",
        "summary": "Gets all Expense Categories.",
        "description": "Gets all Expense Categories.",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      }
    },
    "/v1/clients/expensecategories/{expenseCategoryId}": {
      "head": {
        "operationId": "ExistsExpensecategory",
        "summary": "Gets an Expense Category if any, for the specified Expense Category Id.",
        "description": "Gets an Expense Category if any, for the specified Expense Category Id.",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      },
      "get": {
        "operationId": "GetExpensecategory",
        "summary": "Gets an Expense Category if any, for the specified Expense Category Id.",
        "description": "Gets an Expense Category if any, for the specified Expense Category Id.",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      }
    },
    "/v1/clients/expensegroups": {
      "get": {
        "operationId": "ListClientsExpensegroups",
        "summary": "Gets all Expense Groups.",
        "description": "Gets all Expense Groups.",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      }
    },
    "/v1/clients/expensegroups/{expenseGroupId}": {
      "head": {
        "operationId": "ExistsExpensegroup",
        "summary": "Gets an Expense Group if any, for the specified Expense Group Id.",
        "description": "Gets an Expense Group if any, for the specified Expense Group Id.",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      },
      "get": {
        "operationId": "GetExpensegroup",
        "summary": "Gets an Expense Group if any, for the specified Expense Group Id.",
        "description": "Gets an Expense Group if any, for the specified Expense Group Id.",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      }
    },
    "/v1/clients/search": {
      "post": {
        "operationId": "CreateClientsSearch",
        "summary": "Searchs clients using  filters and ordering specified in request",
        "description": "Searchs clients using  filters and ordering specified in request",
        "tags": [
          "search",
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/documents/{documentId}": {
      "head": {
        "operationId": "ExistsClientDocument",
        "summary": "Returns document data from private storage",
        "description": "Returns document data from private storage",
        "tags": [
          "documents"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.ClientStorage",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.ClientStorage)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/documents/{documentId}/content": {
      "get": {
        "operationId": "GetClientDocumentContent",
        "summary": "Returns document content from private storage",
        "description": "Returns document content from private storage",
        "tags": [
          "documents"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.ClientStorage",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.ClientStorage)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/expenditure": {
      "head": {
        "operationId": "ExistsClientExpenditure",
        "summary": "Gets Expenditure if any, for the specified client id/for the client of the current context.",
        "description": "Gets Expenditure if any, for the specified client id/for the client of the current context.",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/expenditure/expenses": {
      "get": {
        "operationId": "ListClientExpendituresExpenses",
        "summary": "Gets all Expenses for the specified client id OR for the client of the current context's Expenditure.",
        "description": "Gets all Expenses for the specified client id OR for the client of the current context's Expenditure.",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      },
      "put": {
        "operationId": "UpdateClientsExpenditureExpenses",
        "summary": "Updates a collection of Expenses for a client OR for the client of the current context's Expenditure.",
        "description": "Updates a collection of Expenses for a client OR for the client of the current context's Expenditure.",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/expenditure/expenses/{expenseId}": {
      "delete": {
        "operationId": "DeleteClientExpense",
        "summary": "Deletes an Expense for a client OR for the client of the current context's Expenditure.",
        "description": "Deletes an Expense for a client OR for the client of the current context's Expenditure.",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      },
      "head": {
        "operationId": "ExistsClientExpense",
        "summary": "Gets Expense if any, for the specified client id/for the client of the current context's Expenditure AND Expense Id.",
        "description": "Gets Expense if any, for the specified client id/for the client of the current context's Expenditure AND Expense Id.",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      },
      "get": {
        "operationId": "GetClientExpense",
        "summary": "Gets Expense if any, for the specified client id/for the client of the current context's Expenditure AND Expense Id.",
        "description": "Gets Expense if any, for the specified client id/for the client of the current context's Expenditure AND Expense Id.",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      },
      "put": {
        "operationId": "UpdateClientExpense",
        "summary": "Updates an Expense for a client OR for the client of the current context's Expenditure.",
        "description": "Updates an Expense for a client OR for the client of the current context's Expenditure.",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/financialsummary": {
      "get": {
        "operationId": "GetClientFinancialsummary",
        "summary": "Get a summary of a Portfolio",
        "description": "Get a summary of a Portfolio",
        "tags": [
          "financialsummary"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/financialsummarybycategory": {
      "get": {
        "operationId": "GetClientFinancialsummarybycategory",
        "summary": "Get a categorised summary of a clients entire Portfolio",
        "description": "Get a categorised summary of a clients entire Portfolio",
        "tags": [
          "financialsummary"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/goals": {
      "get": {
        "operationId": "ListClientGoals",
        "summary": "Get all Client Goals",
        "description": "Get all Client Goals",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/goals/{goalId}": {
      "delete": {
        "operationId": "DeleteClientGoal",
        "summary": "Delete a Goal",
        "description": "Delete a Goal",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      },
      "head": {
        "operationId": "ExistsClientGoal",
        "summary": "Get the specified Client Goal",
        "description": "Get the specified Client Goal",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      },
      "get": {
        "operationId": "GetClientGoal",
        "summary": "Get the specified Client Goal",
        "description": "Get the specified Client Goal",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      },
      "put": {
        "operationId": "UpdateClientGoal",
        "summary": "Update a Goal",
        "description": "Update a Goal",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/goals/{goalId}/linktoplan": {
      "post": {
        "operationId": "CreateClientGoalLinktoplan",
        "summary": "Link a Goal to a Plan",
        "description": "Link a Goal to a Plan",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/goals/{goalId}/markascompleted": {
      "post": {
        "operationId": "MarkascompletedClientGoal",
        "summary": "Mark a Goal as Completed",
        "description": "Mark a Goal as Completed",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/goals/{goalId}/markasincomplete": {
      "post": {
        "operationId": "MarkasincompleteClientGoal",
        "summary": "Mark a Goal as Incomplete",
        "description": "Mark a Goal as Incomplete",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/goals/{goalId}/unlink": {
      "post": {
        "operationId": "CreateClientGoalUnlink",
        "summary": "Unlink a Goal from an Account or Plan",
        "description": "Unlink a Goal from an Account or Plan",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/incomes": {
      "put": {
        "operationId": "UpdateClientsIncomes",
        "summary": "UpdateClientsIncomes operation",
        "description": "",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/incomes/{incomeId}": {
      "head": {
        "operationId": "ExistsClientIncome",
        "summary": "ExistsClientIncome operation",
        "description": "",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/insights": {
      "post": {
        "operationId": "CreateClientInsight",
        "summary": "Post insight for a given client with clientId.",
        "description": "Post insight for a given client with clientId.",
        "tags": [
          "insights"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Insight",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Insight)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/liabilities": {
      "get": {
        "operationId": "ListClientLiabilities",
        "summary": "Gets all Liabilities for the specified client id OR for the client of the current context.",
        "description": "Gets all Liabilities for the specified client id OR for the client of the current context.",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/liabilities/{liabilityId}": {
      "delete": {
        "operationId": "DeleteClientLiability",
        "summary": "Deletes a Liability for a client OR for the client of the current context.",
        "description": "Deletes a Liability for a client OR for the client of the current context.",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      },
      "head": {
        "operationId": "ExistsClientLiability",
        "summary": "Gets Liability if any, for the specified client id/for the client of the current context and liability Id.",
        "description": "Gets Liability if any, for the specified client id/for the client of the current context and liability Id.",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      },
      "get": {
        "operationId": "GetClientLiability",
        "summary": "Gets Liability if any, for the specified client id/for the client of the current context and liability Id.",
        "description": "Gets Liability if any, for the specified client id/for the client of the current context and liability Id.",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      },
      "put": {
        "operationId": "UpdateClientLiability",
        "summary": "Updates a Liability for a client OR for the client of the current context.",
        "description": "Updates a Liability for a client OR for the client of the current context.",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.FactFind",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.FactFind)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/plans/creditcards": {
      "get": {
        "operationId": "ListClientPlansCreditcards",
        "summary": "Get all plans of type credit card for the client",
        "description": "Get all plans of type credit card for the client",
        "tags": [
          "creditcards"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/plans/creditcards/{planId}": {
      "delete": {
        "operationId": "DeleteClientCreditcard",
        "summary": "Delete Credit Card plan",
        "description": "Delete Credit Card plan",
        "tags": [
          "creditcards"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      },
      "get": {
        "operationId": "GetClientCreditcard",
        "summary": "Get the specified Plan",
        "description": "Get the specified Plan",
        "tags": [
          "creditcards"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      },
      "put": {
        "operationId": "UpdateClientCreditcard",
        "summary": "Update Credit Card plan",
        "description": "Update Credit Card plan",
        "tags": [
          "creditcards"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/plans/currentaccounts": {
      "get": {
        "operationId": "ListClientPlansCurrentaccounts",
        "summary": "Returns a collection of investment plans (current accounts) for the specified client.",
        "description": "Returns a collection of investment plans (current accounts) for the specified client.",
        "tags": [
          "currentaccounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/plans/currentaccounts/{planId}": {
      "delete": {
        "operationId": "DeleteClientCurrentaccount",
        "summary": "Delete investment plan (current account)",
        "description": "Delete investment plan (current account)",
        "tags": [
          "currentaccounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      },
      "get": {
        "operationId": "GetClientCurrentaccount",
        "summary": "Get the specified Plan (current account)",
        "description": "Get the specified Plan (current account)",
        "tags": [
          "currentaccounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      },
      "put": {
        "operationId": "UpdateClientCurrentaccount",
        "summary": "Update investment plan (current account)",
        "description": "Update investment plan (current account)",
        "tags": [
          "currentaccounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/plans/investments": {
      "get": {
        "operationId": "ListClientPlansInvestments",
        "summary": "Returns a collection of investment plans for the specified client.",
        "description": "Returns a collection of investment plans for the specified client.",
        "tags": [
          "investments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/plans/investments/{planId}": {
      "delete": {
        "operationId": "DeleteClientInvestment",
        "summary": "Delete investment plan",
        "description": "Delete investment plan",
        "tags": [
          "investments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      },
      "get": {
        "operationId": "GetClientInvestment",
        "summary": "Get the specified Plan",
        "description": "Get the specified Plan",
        "tags": [
          "investments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      },
      "put": {
        "operationId": "UpdateClientInvestment",
        "summary": "Update investment plan",
        "description": "Update investment plan",
        "tags": [
          "investments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/plans/loans": {
      "get": {
        "operationId": "ListClientPlansLoans",
        "summary": "Get all plans of type loan for the client",
        "description": "Get all plans of type loan for the client",
        "tags": [
          "loans"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/plans/loans/{planId}": {
      "delete": {
        "operationId": "DeleteClientLoan",
        "summary": "Delete loan plan",
        "description": "Delete loan plan",
        "tags": [
          "loans"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      },
      "get": {
        "operationId": "GetClientLoan",
        "summary": "Get the specified Plan",
        "description": "Get the specified Plan",
        "tags": [
          "loans"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      },
      "put": {
        "operationId": "UpdateClientLoan",
        "summary": "Update Loan plan",
        "description": "Update Loan plan",
        "tags": [
          "loans"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/plans/mortgages": {
      "get": {
        "operationId": "ListClientPlansMortgages",
        "summary": "Get all plans of type mortgage for the client",
        "description": "Get all plans of type mortgage for the client",
        "tags": [
          "mortgages"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/plans/mortgages/{planId}": {
      "delete": {
        "operationId": "DeleteClientMortgage",
        "summary": "Delete mortgage plan",
        "description": "Delete mortgage plan",
        "tags": [
          "mortgages"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      },
      "get": {
        "operationId": "GetClientMortgage",
        "summary": "Get the specified Plan",
        "description": "Get the specified Plan",
        "tags": [
          "mortgages"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      },
      "put": {
        "operationId": "UpdateClientMortgage",
        "summary": "Update mortgage plan",
        "description": "Update mortgage plan",
        "tags": [
          "mortgages"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/plans/pensions": {
      "get": {
        "operationId": "ListClientPlansPensions",
        "summary": "Get all plans of type pension for the client",
        "description": "Get all plans of type pension for the client",
        "tags": [
          "pensions"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/plans/pensions/{planId}": {
      "delete": {
        "operationId": "DeleteClientPension",
        "summary": "Delete pension plan",
        "description": "Delete pension plan",
        "tags": [
          "pensions"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      },
      "get": {
        "operationId": "GetClientPension",
        "summary": "Get the specified Plan",
        "description": "Get the specified Plan",
        "tags": [
          "pensions"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      },
      "put": {
        "operationId": "UpdateClientPension",
        "summary": "Update pension plan",
        "description": "Update pension plan",
        "tags": [
          "pensions"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/plans/protections": {
      "get": {
        "operationId": "ListClientPlansProtections",
        "summary": "Get all plans of type mortgage for the client",
        "description": "Get all plans of type mortgage for the client",
        "tags": [
          "protections"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/plans/protections/{planId}": {
      "delete": {
        "operationId": "DeleteClientProtection",
        "summary": "Delete protection plan",
        "description": "Delete protection plan",
        "tags": [
          "protections"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      },
      "get": {
        "operationId": "GetClientProtection",
        "summary": "Get the specified Plan",
        "description": "Get the specified Plan",
        "tags": [
          "protections"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      },
      "put": {
        "operationId": "UpdateClientProtection",
        "summary": "Update protection plan",
        "description": "Update protection plan",
        "tags": [
          "protections"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/plans/savingsaccounts": {
      "get": {
        "operationId": "ListClientPlansSavingsaccounts",
        "summary": "Returns a collection of investment plans (savings accounts) for the specified client.",
        "description": "Returns a collection of investment plans (savings accounts) for the specified client.",
        "tags": [
          "savingsaccounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/plans/savingsaccounts/{planId}": {
      "delete": {
        "operationId": "DeleteClientSavingsaccount",
        "summary": "Delete investment plan (savings account)",
        "description": "Delete investment plan (savings account)",
        "tags": [
          "savingsaccounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      },
      "get": {
        "operationId": "GetClientSavingsaccount",
        "summary": "Get the specified Plan",
        "description": "Get the specified Plan",
        "tags": [
          "savingsaccounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      },
      "put": {
        "operationId": "UpdateClientSavingsaccount",
        "summary": "Update investment plan (savings account)",
        "description": "Update investment plan (savings account)",
        "tags": [
          "savingsaccounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/plans/valuations": {
      "get": {
        "operationId": "ListClientPlansValuations",
        "summary": "Get a list of valuations for the plan for the logged in user.",
        "description": "Get a list of valuations for the plan for the logged in user.",
        "tags": [
          "plans"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/plans/valuations/propertyvaluations": {
      "get": {
        "operationId": "ListClientPlansValuationsPropertyvaluations",
        "summary": "ListClientPlansValuationsPropertyvaluations operation",
        "description": "",
        "tags": [
          "plans"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/plans/valuations/timeseries": {
      "get": {
        "operationId": "ListClientPlansValuationsTimeseries",
        "summary": "Get a list of aggregated valuations for all the plans for the logged in user.",
        "description": "Get a list of aggregated valuations for all the plans for the logged in user.",
        "tags": [
          "plans"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/plans/valuations/{valuationId}": {
      "get": {
        "operationId": "GetClientValuation",
        "summary": "Returns a single valuation resource for the specified valuationId",
        "description": "Returns a single valuation resource for the specified valuationId",
        "tags": [
          "plans"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/plans/{planId}/valuations/timeseries": {
      "get": {
        "operationId": "ListClientPlanValuationsTimeseries",
        "summary": "Get a list of aggregated valuations for the plan for the logged in user.",
        "description": "Get a list of aggregated valuations for the plan for the logged in user.",
        "tags": [
          "plans"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/professionalcontacts": {
      "get": {
        "operationId": "ListClientsProfessionalcontacts",
        "summary": "Gets a list of professional contacts",
        "description": "Gets a list of professional contacts",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/valuations/assetliability_timeseries": {
      "get": {
        "operationId": "ListClientValuationsAssetliabilityTimeseries",
        "summary": "Get a list of aggregated valuations for assets and for liabilites for all the plans and accounts for the logged in user.",
        "description": "Get a list of aggregated valuations for assets and for liabilites for all the plans and accounts for the logged in user.",
        "tags": [
          "valuations"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/valuations/portfolio_valuations": {
      "get": {
        "operationId": "ListClientValuationsPortfolioValuations",
        "summary": "Get a list of valuations for all plans for the logged in user.",
        "description": "Get a list of valuations for all plans for the logged in user.",
        "tags": [
          "valuations"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{clientId}/valuations/timeseries": {
      "get": {
        "operationId": "ListClientValuationsTimeseries",
        "summary": "Get a list of aggregated valuations for all the plans and accounts for the logged in user.",
        "description": "Get a list of aggregated valuations for all the plans and accounts for the logged in user.",
        "tags": [
          "valuations"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Portfolio",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Portfolio)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{partyId}": {
      "head": {
        "operationId": "ExistsClient",
        "summary": "ExistsClient operation",
        "description": "",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{partyId}/advisers": {
      "get": {
        "operationId": "ListClientsAdvisers",
        "summary": "Get advisers for clients. The first one is the servicing adviser. Others will be added in future releases",
        "description": "Get advisers for clients. The first one is the servicing adviser. Others will be added in future releases",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{partyId}/contacts": {
      "get": {
        "operationId": "ListClientContacts",
        "summary": "Get Contact Details",
        "description": "Get Contact Details",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{partyId}/contacts/{contactId}": {
      "delete": {
        "operationId": "DeleteClientContact",
        "summary": "Delete the specified Contact Details",
        "description": "Delete the specified Contact Details",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": []
        }
      },
      "head": {
        "operationId": "ExistsClientContact",
        "summary": "Get the specified Contact Details",
        "description": "Get the specified Contact Details",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": []
        }
      },
      "get": {
        "operationId": "GetClientContact",
        "summary": "Get the specified Contact Details",
        "description": "Get the specified Contact Details",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": []
        }
      },
      "put": {
        "operationId": "UpdateClientContact",
        "summary": "Update the specified Contact Details",
        "description": "Update the specified Contact Details",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": []
        }
      }
    },
    "/v1/clients/{partyId}/contacts/{contactId}/markasdefault": {
      "patch": {
        "operationId": "MarkasdefaultClientContact",
        "summary": "Mark the specified Contact Detail as default.",
        "description": "Mark the specified Contact Detail as default.",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": []
        }
      }
    },
    "/v1/corporates": {
      "post": {
        "operationId": "CreateCorporate",
        "summary": "CreateCorporate operation",
        "description": "",
        "tags": [
          "corporates"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": []
        }
      }
    },
    "/v1/corporates/{partyId}": {
      "head": {
        "operationId": "ExistsCorporate",
        "summary": "ExistsCorporate operation",
        "description": "",
        "tags": [
          "corporates"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": []
        }
      },
      "get": {
        "operationId": "GetCorporate",
        "summary": "GetCorporate operation",
        "description": "",
        "tags": [
          "corporates"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": []
        }
      },
      "put": {
        "operationId": "UpdateCorporate",
        "summary": "UpdateCorporate operation",
        "description": "",
        "tags": [
          "corporates"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": []
        }
      }
    },
    "/v1/corporates/{partyId}/contacts": {
      "get": {
        "operationId": "ListCorporateContacts",
        "summary": "Get Contact Details",
        "description": "Get Contact Details",
        "tags": [
          "corporates"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": []
        }
      }
    },
    "/v1/corporates/{partyId}/contacts/{contactId}": {
      "delete": {
        "operationId": "DeleteCorporateContact",
        "summary": "Delete the specified Contact Details",
        "description": "Delete the specified Contact Details",
        "tags": [
          "corporates"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": []
        }
      },
      "head": {
        "operationId": "ExistsCorporateContact",
        "summary": "Get the specified Contact Details",
        "description": "Get the specified Contact Details",
        "tags": [
          "corporates"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": []
        }
      },
      "get": {
        "operationId": "GetCorporateContact",
        "summary": "Get the specified Contact Details",
        "description": "Get the specified Contact Details",
        "tags": [
          "corporates"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": []
        }
      },
      "put": {
        "operationId": "UpdateCorporateContact",
        "summary": "Update the specified Contact Details",
        "description": "Update the specified Contact Details",
        "tags": [
          "corporates"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": []
        }
      }
    },
    "/v1/corporates/{partyId}/contacts/{contactId}/markasdefault": {
      "patch": {
        "operationId": "MarkasdefaultCorporateContact",
        "summary": "Mark the specified Contact Detail as default.",
        "description": "Mark the specified Contact Detail as default.",
        "tags": [
          "corporates"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": []
        }
      }
    },
    "/v1/countries": {
      "get": {
        "operationId": "ListCountries",
        "summary": "Get list of Countries",
        "description": "Get list of Countries",
        "tags": [
          "countries"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": []
        }
      }
    },
    "/v1/countries/{countryCode}/counties": {
      "get": {
        "operationId": "ListCountriesCounties",
        "summary": "Get list of Counties for the specified country",
        "description": "Get list of Counties for the specified country",
        "tags": [
          "counties"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": []
        }
      }
    },
    "/v1/documents": {
      "post": {
        "operationId": "CreateDocument",
        "summary": "CreateDocument operation",
        "description": "",
        "tags": [
          "documents"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.ClientStorage",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.ClientStorage)",
          "scopes": []
        }
      },
      "get": {
        "operationId": "ListDocuments",
        "summary": "Return user documents from private storage. This will include documents\r\nshared with this user",
        "description": "Return user documents from private storage. This will include documents\r\nshared with this user",
        "tags": [
          "documents"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.ClientStorage",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.ClientStorage)",
          "scopes": []
        }
      }
    },
    "/v1/documents/statistics": {
      "get": {
        "operationId": "GetDocumentStatistics",
        "summary": "Provides total amount of storage currently used and the total amount available",
        "description": "Provides total amount of storage currently used and the total amount available",
        "tags": [
          "documents"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.ClientStorage",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.ClientStorage)",
          "scopes": []
        }
      }
    },
    "/v1/documents/{documentId}": {
      "delete": {
        "operationId": "DeleteDocument",
        "summary": "Deletes document",
        "description": "Deletes document",
        "tags": [
          "documents"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
[...]
